<header class="header clearfix">
  <nav>
      <ul class="nav nav-pills float-right">
          <li class="nav-item">
              <button type="button" class="btn btn-primary">
                Home
              </button>
          </li>
          <li class="nav-item">
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                Add
              </button>
            </li>
          <li class="nav-item">
               <button type="button" class="btn btn-link">
                Logout
              </button>
          </li>
      </ul>
  </nav>
  <h3 class="text-muted">Leave Request</h3>
</header>

<main role="main">
 
  <app-show-post></app-show-post>
  <app-add-post (postAdded)="handlePostAdded()"></app-add-post>
  
</main>

<footer class="footer">
  <p>Ar8 2018  {{user}}</p>
</footer>