@import 'bootstrap/dist/css/bootstrap.css';
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.navbar-nav>li>a.active{
  color: #d9230f !important;
}

.pagecontainer {
  padding: 50px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 10% auto;
}

.form-ele{
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 6px 10px 7px 10px;
  border-radius: 0 3px 3px 0;
  cursor: not-allowed;
  min-height: 33px;
}

.form-ele:empty:before{
  content: 'No data to display';
  color: #cccccc;
}

.pagination>li>a.selected{
  color: #ffffff;
  background-color: #f75f4e;
  border-color: #f75f4e;
}

ul.menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul.menu li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
ul.menu li:hover {
  background: #555;
  color: #fff;
}
ul.menu li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  
}
ul.menu li ul li, ul.menu li ul li a { 
  background: #555; 
  display: block; 
  color: #fff;
  text-decoration: none;
}
ul.menu li ul li:hover, ul.menu li ul li a:hover { 
  background: #666;
  text-decoration: none;
  }
ul.menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
