<div class="container pagecontainer">
    <div class="page-header">
        <h1>Leave Request</h1>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Show report</h3>
        </div>
        <div class="panel-body">
            <form [formGroup]="reportForm" (ngSubmit)="getReport(reportForm.value)" class="form-horizontal" novalidate autocomplete="off">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <div class="radio">
                            <!-- <label>
                                <input type="radio" name="report" value="opt1" [formControl]="report" checked>
                                Current month
                            </label> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="report" value="opt2" [formControl]="report">
                                Date Range
                            </label>
                        </div>
                        <div class="row" style="padding: 8px">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group" style="margin-right:0" [ngClass]="{'has-error': reportForm.get('startdt').invalid && reportForm.get('startdt').dirty}">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                                        <input type="date" class="form-control" [formControl]="startdt" placeholder="Start Date">
                                    </div>
                                    <div class="text-danger" *ngIf="reportForm.get('startdt').dirty && reportForm.get('startdt').invalid">
                                        <span class="col-sm-2"></span>
                                        <span class="col-sm-10" style="padding:4px 0 0">Please enter start date</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group" style="margin-right:0" [ngClass]="{'has-error': reportForm.get('enddt').invalid && reportForm.get('enddt').dirty}">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                                        <input type="date" class="form-control" [formControl]="enddt" placeholder="Start Date">
                                    </div>
                                    <div class="text-danger" *ngIf="reportForm.get('enddt').dirty && reportForm.get('enddt').invalid">
                                        <span class="col-sm-2"></span>
                                        <span class="col-sm-10" style="padding:4px 0 0">Please enter end date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- <div class="col-sm-12 col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="report" value="opt3" [formControl]="report">
                                All
                            </label>
                        </div>
                    </div> -->
                    <div class="col-sm-12 col-md-2">
                        <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-danger" *ngIf="expenses && totalrows < 1">
        <div class="panel-heading">
            <h3 class="panel-title">No expense found</h3> 
        </div>

        <div class="panel-body">
            It seems like you havn't entered any expense for the selected criteria. Please enter you expenses <a routerLink="/expense">here</a>.
        </div>
    </div>


    <div class="panel panel-default" *ngIf="expenses && totalrows > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Leave <i>{{reportTitle}}</i> <b>({{ exptotal?.total}})</b></h3> 
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="10%"><a style="cursor:pointer" (click)="sortExpense('expensedate')">Date</a></th>
                            <th width="20%"><a style="cursor:pointer" (click)="sortExpense('expensetype')">Reason</a></th>
                            <th width="40%">Description</th>
                            <!-- <th width="10%" class="text-right"><a style="cursor:pointer" (click)="sortExpense('expenseamt')">Amount</a></th> -->
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let exp of expenses; let expIndex = index'>
                            <td>{{ exp.expensedate | date: 'd MMM y'}}</td>
                            <td>{{ exp.expensetype}}</td>
                            <td>{{ exp.expensedesc}}</td>
                            <!-- <td class="text-right">{{ exp.expenseamt | currency: 'USD':true }}</td> -->
                            <td>
                                <!-- <button type="button" class="btn-xs btn-info" aria-label="View" (click)="showExpense(exp._id)">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button> -->
                                <button type="button" class="btn-xs btn-danger" aria-label="Edit" (click)="editExpense(exp._id)">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn-xs btn-primary" aria-label="Delete" (click)="confirmDel(expIndex, exp._id)">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn-xs btn-primary" aria-label="Approve" (click)="confirmDel(expIndex, exp._id)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div style="text-align:center" *ngIf="expenses && totalrows > 10">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li *ngFor="let item of createPager(pgCounter); let idx = index">
                            <a [ngClass]="{'selected': qpage == idx + 1 }"class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>