  <h3>
    Welcome to {{ title }}!
  </h3>
  <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>  
  
          <div class="form-group">  
              <label class="control-label col-sm-2" for="name">Email</label>  
              <div class="col-lg-3">  
                  <input type="email" class="form-control" required placeholder="Enter first name" formControlName="email">  
              </div>  
          </div>  
  
          <div class="form-group">  
              <label class="control-label col-sm-2" for="email">Password:</label>  
              <div class="col-lg-3">  
                  <input type="password" class="form-control" placeholder="Enter email" formControlName="Password">  
              </div>  
          </div>    
          <div class="form-group">  
              <div class="col-sm-offset-2 col-sm-10">  
                  <button type="submit" class="btn btn-primary">Submit</button>  
              </div>  
          </div>  
      </form>  